body {
    margin: 0;
    font-family: 'Gothic A1', sans-serif;
}

img {
    width: 100%;
}

.splash {
    background-image: url("cover/cover1Artboard%201.jpg");
    background-size: cover;
    width: 100%;
    height: 26vw;
    background-position: center;
}

.gradient {
    width: 100%;
    height: 1vh;
    background-image: linear-gradient(to right, red, #f44ab5, yellow, greenyellow, aqua, purple);
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    background-color: black;
    color: white;
<<<<<<< HEAD
    margin: 0px 0px 0px 0px;
    padding: 4px 12px;
    font-size: 10px;
=======
    margin: 50px 0px 50px 0px;
    padding: 8px 24px;
    font-size: 20px;
>>>>>>> origin/master
    cursor: pointer;
    outline: none;
}

button.valgt.rock_btn {
    background-color: #b92d53;

}

button.valgt.pop_btn {
    background-color: #f9ec4d;

}

button.valgt.jul_btn {
    background-color: #8149ff;

}

button.valgt.dansk_btn {
    background-color: #95d95a;

}

button.valgt.country_btn {
    background-color: #86e4e4;

}

h1 {
    text-align: center;
    font-weight: 900;
}

article .ribbon {
    font-weight: 900;
    background-color: white;
    padding: 10px;
    display: inline-block;
    padding: 12px 16px 8px 10px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    max-width: 80%;
}

.genre {
    text-transform: capitalize;
}

.modtager {
    margin: 20px 0 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
}

article {
    /*padding: 10px;*/
    padding-top: 100%;
    /*background-image: linear-gradient(white, red);*/
    cursor: pointer;
    width: 100%;
    /*height: 0;
    padding: 160% 0px 0px;
    position: relative;*/
    background-repeat: no-repeat;
    background-size: contain;
}

.content {
    /*position: absolute;
    bottom: 0;
    left: 0;*/
    width: 100%;
    /*height: 0;
    padding-top: 150%;*/
}

p.artist {
    /*position: absolute;
    bottom: 20px;*/
    color: #fff;
    padding: 0 10px;
}

.content h2 {
    margin: 0;
    font-size: 14px;
}

.image_container {
    width: 100%;
    height: 0;
    padding-top: 100%;
    position: relative;
}

.image_container img {
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.view_boks {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 20px 0;
}

#view h2 {
    color: #000;
}

/*.view_boks .txt .track_boks h2 {
    color: #fff;
}*/

<<<<<<< HEAD
#view .col {
=======
.view_boks .txt h2 {
    color: #000;
}

.view_boks .txt .track_boks h2 {
    color: #fff;
}

#view .txt,
p,
h1 {
>>>>>>> origin/master
    padding: 10px;
}

#view .titel {
    text-align: left;
    font-weight: 900;
    font-size: 2rem;
    margin: 0.5rem 0;
}

.track_boks {
    /*width: 100;
    height: auto;
    border: 2px solid white;
    color: white;
<<<<<<< HEAD
    background-color: black;*/
    border: 7px double rgba(0, 0, 0, 0.3);
=======
    background-color: black;
>>>>>>> origin/master
}

.track_boks h2 {
    text-align: center;
    font-size: 2.4rem;
    padding-top: 1px;
}


#view .rock {
    background-image: linear-gradient(to top, rgb(255, 255, 255) 35%, rgb(185, 45, 83) 70%);
}

.rock h2 {
    color: #b92d53;

}

#view .pop {
    background-image: linear-gradient(to top, rgb(255, 255, 255) 35%, rgb(249, 236, 77) 70%);
}

.pop h2 {
    color: #f9ec4d;
}

#view .dansk {
    background-image: linear-gradient(to top, rgb(255, 255, 255) 35%, rgb(149, 217, 89) 70%);
}

.dansk h2 {
    color: #95d95a;

}

#view .country {
    background-image: linear-gradient(to top, rgb(255, 255, 255) 35%, rgb(134, 228, 228) 70%);
}

.country h2 {
    color: #86e4e4;

}

#view .jul {
    background-image: linear-gradient(to top, rgb(255, 255, 255) 35%, rgb(129, 73, 255) 70%);
}

.jul h2 {
    color: #8149ff;

}

button.close {
    margin: 20px 0px 20px 0px;
}

@media only screen and (min-width: 576px) {
    button {
        margin: 50px 0px 50px 0px;
        padding: 8px 24px;
        font-size: 20px;
    }

    article {
        border-radius: 8px;
    }

    .modtager {
        margin: 0 20px 20px;
        grid-template-columns: repeat(2, 1fr);
    }

    .view_boks {
        grid-template-columns: repeat(2, 1fr);
        margin: 20px 20px;
    }

    .track_col {
        grid-column: span 2;
    }
}

@media only screen and (min-width: 768px) {
    .gradient {
        height: 3vh;
    }

    .modtager {
        margin: 0 100px 100px;
        grid-template-columns: repeat(2, 1fr);
    }

    .view_boks {
        margin: 40px 100px;
    }
}

@media only screen and (min-width: 1200px) {
    .modtager {
        margin: 0 150px 150px;
        grid-template-columns: repeat(3, 1fr);
    }

    .view_boks {
        grid-template-columns: repeat(3, 1fr);
        margin: 60px 150px;
    }

    .track_col {
        grid-column: auto;
    }
}

@media only screen and (min-width: 1600px) {
    .modtager {
        margin: 0 200px 200px;
        grid-template-columns: repeat(4, 1fr);
    }

    .view_boks {
        margin: 60px 200px;
    }
}
