body {
    margin: 0;
    font-family: 'Gothic A1', sans-serif;
}

img {
    width: 100%;
}

.splash {
    background-image: url("cover/cover1Artboard%201.jpg");
    background-size: cover;
    width: 100vw;
    height: 26vw;
    background-position: center;
}

.gradient {
    width: 100vw;
    height: 3vw;
    background-image: linear-gradient(to right, red, #f44ab5, yellow, greenyellow, aqua, purple);
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    background-color: black;
    color: white;
    margin: 5px;
    padding: 8px 24px;
    font-size: 20px;
    cursor: pointer;
    outline: none;
}

button.valgt.rock_btn {
    background-color: #b92d53;

}

button.valgt.pop_btn {
    background-color: #f9ec4d;

}

button.valgt.jul_btn {
    background-color: #8149ff;

}

button.valgt.dansk_btn {
    background-color: #95d95a;

}

button.valgt.country_btn {
    background-color: #86e4e4;

}

h1 {
    text-align: center;
    font-weight: 900;
}

article h2 {
    font-weight: 900;
    background-color: white;
    padding: 10px
}

.modtager {
    margin: 0 200px 200px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
}

article {
    padding: 10px;
    background-image: linear-gradient(white, red);
    cursor: pointer;

}

.image_container {
    width: 100%;
    height: 0;
    padding-top: 100%;
    position: relative;
}

.image_container img {
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#view {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.view_boks {
    background-image: linear-gradient(white, #f44ab5);
    display: flex;
    flex-wrap: wrap;

}

.view_boks .col {
    flex-grow: 1;
    display: flex;
    flex-basis: 300px;
    flex-direction: column;


}

.view_boks {
    max-width: 1200px;
    margin-top: 60px;
}

#view .txt,
p,
h1 {
    padding: 10px;
}

#view .titel {
    text-align: left;
    font-weight: 900;
    font-size: 2rem;
    padding: 0;
}

.track_boks {
    width: 100;
    height: auto;
    border: 2px solid white;
    color: white;
    background-color: hsl(309, 39%, 40%);
}

.track_boks h2 {
    text-align: center;
    font-size: 2.4rem;
    padding-top: 1px;
}


.rock {
    background-image: linear-gradient(rgb(255, 255, 255) 35%, rgb(185, 45, 83, 1) 70%);
}

.rock h2 {
    color: #b92d53;

}

.pop {
    background-image: linear-gradient(rgb(255, 255, 255) 35%, rgb(249, 236, 77, 1) 70%);
}

.pop h2 {
    color: #f9ec4d;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #e6d70f;
}

.dansk {
    background-image: linear-gradient(rgb(255, 255, 255) 35%, rgb(149, 217, 89, 1) 70%);
}

.dansk h2 {
    color: #95d95a;

}

.country {
    background-image: linear-gradient(rgb(255, 255, 255) 35%, rgb(134, 228, 228, 1) 70%);
}

.country h2 {
    color: #86e4e4;

}

.jul {
    background-image: linear-gradient(rgb(255, 255, 255) 35%, rgb(129, 73, 255, 1) 70%);
}

.jul h2 {
    color: #8149ff;

}



@media only screen and (min-width: 400px) {
    .view_boks {
        background-image: linear-gradient(to right, white, #f44ab5);


    }

    .modtager {
        margin: 20px 0px 0px;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 600px) {
    .gradient {
        height: 1vw;

    }

    .modtager {
        margin: 0 100px 100px;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }

}


@media only screen and (min-width: 1200px) {
    .view_boks {
        background-image: linear-gradient(to right, white, #f44ab5);


    }

    .modtager {
        margin: 0 200px 200px;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(3, 1fr);
    }
}
