/*----------------------------------------------
1: Globale regler
2: Header
3: Forside
4: Album side
5: Footer
6: Media Queries
----------------------------------------------*/

/*----------------------------------------------
1: Globale regler
----------------------------------------------*/

body {
    margin: 0;
    font-family: 'Gothic A1', sans-serif;
    background-color: #000;
}

img {
    width: 100%;
}

button,
.close a {
    background-color: black;
    color: white;
    margin: 0px 0px 0px 0px;
    padding: 4px 12px;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

a {
    cursor: pointer;
}

.gradient {
    width: 100%;
    height: 1vh;
    background-image: linear-gradient(to right, #b92d53, #ebac31, #f9ec4d, #95d95a, #86e4e4, #8149ff);
}

/*----------------------------------------------
2: Header
----------------------------------------------*/

.splash {
    background-image: url("cover/cover1Artboard%201.jpg");
    background-size: cover;
    width: 100%;
    height: 26vw;
    background-position: center;
}

/*----------------------------------------------
3: Forside
----------------------------------------------*/
/*
https://codepen.io/joshmath/pen/NrPBBz
*/
.section_wrapper {

    /*placerer indhold 80px fra toppen*/
    padding-top: 40px;
    /*bestemmer forholdet på størrelsen af skriften*/
    font-size: 20px;
    color: #fff;
    margin: auto 7vw;
}

.section_wrapper h1 {
    /*bestemmer forholdet på størelsen af skriften*/
    font-size: 2rem;
    /*placerer indholdet i midten*/
    display: block;
}

.section_wrapper h2 {
    /*bestemmer forholdet på størelsen af skriften*/
    font-size: 2rem;
    /*placerer indholdet i midten*/
    display: block;
}

.spinny_wrapper {
    position: relative;
}

/*--------------------------------------------------
-------------------- rotate words ------------------
---------------------------------------------------*/

.spinny_words {

    /*venstrestiller teksten*/
    text-align: left;
    /*laver bogstaverne om til store bogstaver*/
    text-transform: uppercase;
    /*    display: inline-block;*/
}

/*css på span så den viser det på ét ord ad gangen*/
.spinny_words span {
    /*lægger sig absolut i forhold til spinny-wrapper og placerer hvert ord oven på hinanden*/
    position: absolute;
    */
    /*Får en tykkere skrift*/
    font-weight: 900;
    opacity: 0;
    animation: rotateWord 12s linear infinite 0s;
}

/*vælger 2./3./4. child i span div'en "spinny-words" og sætter en delay på, så ordet starter med at roterer x-antal sekunder senere end 1.child*/
.spinny_words span:nth-child(2) {
    animation-delay: 3s;
}

.spinny_words span:nth-child(3) {
    animation-delay: 6s;
}

.spinny_words span:nth-child(4) {
    animation-delay: 9s;
}

/*her gøres ordet gennemsigtigt når det roterer ud*/
@keyframes rotateWord {
    0% {
        opacity: 0;
    }

    2% {
        opacity: 0;
        transform: translateY(-30px);
    }

    5% {
        opacity: 1;
        transform: translateY(0px);
    }

    17% {
        opacity: 1;
        transform: translateY(0px);
    }

    20% {
        opacity: 0;
        transform: translateY(30px);
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.forside_overskrift h1 {
    color: white;
    padding-top: 20px;
    font-size: 1.3rem;
}

button,
.close a {
    font-weight: 900;
}

button:hover,
.close a:hover {
    background-color: #2e2c2c;
    color: #fff;
}

button.valgt.alle_btn {
    background-color: #fff;
    color: #000;
}

button.valgt.rock_btn {
    background-color: #b92d53;
    color: #000;
}

button.valgt.pop_btn {
    background-color: #f9ec4d;
    color: #000;
}

button.valgt.jul_btn {
    background-color: #8149ff;
    color: #000;
}

button.valgt.dansk_btn {
    background-color: #95d95a;
    color: #000;
}

button.valgt.country_btn {
    background-color: #86e4e4;
    color: #000;
}

.modtager {
    margin: 20px 40px 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
}

article {
    padding-top: 100%;
    cursor: pointer;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 8px;
}

.content {
    width: 100%;
}

article .ribbon {
    font-weight: 900;
    background-color: #000;
    padding: 10px;
    display: inline-block;
    padding: 12px 16px 8px 10px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    max-width: 80%;
}

.content h2 {
    margin: 0;
    font-size: 20px;
}

.rock h1,
.rock h2 {
    color: #b92d53;
}

.pop h1,
.pop h2 {
    color: #f9ec4d;
}

.dansk h1,
.dansk h2 {
    color: #95d95a;
}

.country h1,
.country h2 {
    color: #86e4e4;
}

.jul h1,
.jul h2 {
    color: #8149ff;
}

#view p {
    color: #fff;
}

p.artist {
    color: #fff;
    padding: 0 10px;
    font-weight: 700;
    font-size: 1.3rem;
}

/*----------------------------------------------
4: Album side
----------------------------------------------*/

.track {
    text-align: center;
    list-style-position: inside;
    padding: 0;
}

.view_boks {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 20px 0;
    border-radius: 8px;
}

#view .rock {
    border: solid 2px #b92d53;
    box-shadow: 0px 0px 50px 4px #b92d53;
    margin: 50px 20px 20px;
}

#view .dansk {
    border: solid 2px #95d95a;
    box-shadow: 0px 0px 50px 4px #95d95a;
    margin: 50px 20px 20px;
}

#view .pop {
    border: solid 2px #f9ec4d;
    box-shadow: 0px 0px 50px 4px #f9ec4d;
    margin: 50px 20px 20px;
}

#view .country {
    border: solid 2px #86e4e4;
    box-shadow: 0px 0px 50px 4px #86e4e4;
    margin: 50px 20px 20px;
}

#view .jul {
    border: solid 2px #8149ff;
    box-shadow: 0px 0px 50px 4px #8149ff;
    margin: 50px 50px 150px;
}

#view .col {
    padding: 10px;
}

.image_container {
    width: 100%;
    height: 0;
    padding-top: 100%;
    position: relative;
}

.image_container img {
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#view .titel {
    text-align: left;
    font-weight: 900;
    font-size: 2rem;
    margin: 0.5rem 0;
}

.genre {
    text-transform: capitalize;
}

.track_boks {
    color: #fff;
}

#view .track_boks h2 {
    text-align: center;
    font-size: 2.4rem;
    padding-top: 1px;
}

/*----------------------------------------------
5: Footer
----------------------------------------------*/

footer {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
}

footer .col {
    flex-basis: 250px;
    flex-grow: 1;
    margin: 4vw;
    margin-top: 0;
}

footer .logo_boks {
    padding: 0vw;
}

/*----------------------------------------------
6: Media Queries
----------------------------------------------*/

@media only screen and (min-width: 576px) {

    button,
    .close a {
        margin: 50px 0px 50px 0px;
        padding: 8px 24px;
        font-size: 20px;
    }

    .modtager {
        margin: 0 20px 20px;
        grid-template-columns: repeat(2, 1fr);
    }

    article {
        border-radius: 8px;
    }

    .view_boks {
        grid-template-columns: repeat(2, 1fr);
        margin: 20px 20px;
    }

    .track_col {
        grid-column: span 2;
    }

    #view {
        margin-bottom: 13vw;
    }

    footer .logo_boks img {
        width: 400px;
    }

    footer .col {
        flex-basis: 50px;
    }
}

@media only screen and (min-width: 768px) {
    .section_wrapper {
        margin: auto 15vw;
    }

    .gradient {
        height: 3vh;
    }

    .forside_overskrift h1 {
        font-size: 2rem;
    }

    .modtager {
        margin: 0 100px 100px;
        grid-template-columns: repeat(2, 1fr);
    }

    .view_boks {
        margin: 40px 100px;
    }
}

@media only screen and (min-width: 1200px) {
    .section_wrapper {
        margin: auto 25vw;
    }

    .modtager {
        margin: 0 150px 150px;
        grid-template-columns: repeat(4, 1fr);
    }

    button,
    .close a {
        font-size: 30px;
    }

    .view_boks {
        grid-template-columns: repeat(3, 1fr);
        margin: 60px 150px;
    }

    .track_col {
        grid-column: auto;
    }

    footer .logo_boks {
        padding: 1vw;
        padding-top: 2vw;
    }
}
